* {
    box-sizing: border-box;
  }
  
  .container {
    padding: 0px 15px;
    margin: 0.5rem auto;
    max-width: 1280px;
    width: 100%;
    border: 2px solid #3384b3;
  }

  .form-group {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .form-label {
    margin-bottom: .5rem;
  }

  .form-input {
    width: 100%;
    max-width: 200px;
    height: 2.5em;
    padding: .5rem .75rem;
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #5fc4e2;
    border: 1px solid #333;
  }
  .draw-infor{
    margin-top: 1em;
  }
  .draw-infor >span{
    margin-right: 1em;
  }
  .draw-infor span{
    font-style: italic;
  }
  span.draw-infor-value{
    color: blue;
  }
  .infor-row{
    line-height: 25px;
    margin: 15px 0;
  }